# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

# Django
*.log
*.pot
*.mo
*.orig
db.sqlite3
media/
static_cdn/
static_root/

# IDEs
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Environment variables
.env
*.env